/*--breadcrumb--*/
.bread-h {
    background: rgb(27, 130, 221);
    margin-bottom: 20px;
    margin-left:0px;
    position: relative;
    width: 250px;
    padding-right: 25px;
    margin-right: 20px;
}

.spacing-path {
    color: white;
}

.title-section {
    background: rgb(27, 130, 221);
    position: relative;
    border-bottom: 1px solid #07D;
}

.title-section h1 {
    margin: 0 0 5px 0;
    line-height: 58px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.title-section ul {
    background: rgb(27, 130, 221);
    position: relative;
    margin: 0;
    padding: 9px 0 10px 0;
    border-top: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.title-section ul li {
    line-height: 18px;
    font-size: 13px;
    color: #fff;
}

.title-section ul li a {
    color: #fff;
}

.breadcrumb > .active {
    color: #fff;
}