{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}
  <!-- About core css -->
  {% include 'breadcrumb.html' %}
  <link href="{% static "css/about.css" %}" rel="stylesheet"/>
  


  <div class="about_bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8 about_left">
          <ul class="about_grid1 about_box">
            <li class="about_img"><img src="{% static "static/img/icon.png" %}"  width="220" height="220" class="img-responsive" alt=""/></li>
            <li class="about_desc">
              <h5><a href="#">ICoS</a></h5>
              <p>ISoC is online educational Introduction to Computer Science site, we aspire for great design, a place to study and share ideas.
                Our goal is to create solutions that are exploratory, educational and inspirational. We will gladly help you take the first steps in the field of IT information. Let's work together!
               Register for free and enjoy countless educational video lectures.</p>
            </li>
            <div class="clearfix"></div>
          </ul>

          <ul class="about_grid1">
            <li class="about_img"><img src="{% static "static/img/PBlogo.png" %}" width="220" height="220" class="img-responsive" alt=""/></li>
            <li class="about_desc">
              <h5><a href="#">BUT </a></h5>
              <p>Bialystok University of Technology is a technical university in Bialystok, Poland.
                The history of the university starts on December 1, 1949. Initially it was a technical college – 
                the Private Evening College of Engineering in Białystok , founded by the Polish Federation of 
                Engineering Associations. It had two faculties: Electrical and Mechanical Engineering. 
                In 1964 it was permitted to carry out daytime education and renamed to the High School of 
                Engineering. In 1974 it was granted the status of a 
                Technical University with 4 faculties and 3 inter-faculty departments.</p>
              <!---<a href="http://pb.edu.pl" class="about_btn">more</a>--->
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>

        
      </div>
    </div>
  </div>







{% endblock %}